<main class="main-cultura">

    <h1>Jerusalem está dividido en 4 barrios, conoceremos la cultura de cada uno:</h1>
    <section>
        <div>
            

                    <h2>✡️Barrio Judío: </h2>
                    <img src="/Images/barrio judio.png" >
                    <h3>Costumbres religiosas: </h3>
                    
                            <p>
                                Shabat: El Shabat es el día sagrado de descanso y adoración en el judaísmo, que
                                comienza
                                al anochecer del viernes y continúa hasta el anochecer del sábado. Durante este tiempo,
                                los
                                judíos observantes se abstienen de trabajar, encienden velas, recitan oraciones
                                especiales y
                                comparten comidas festivas en familia.
                            </p>
                  


                        <img src="/Images/celebraciones.webp" >
                        </p>
                    
                    
                    <h3>Comidas típicas: </h3>
                    
                            <p>
                                Falafel: Bolas fritas de garbanzos o habas, servidas en pan de pita con verduras
                                frescas, tahini y salsa picante. Es un plato callejero popular en Jerusalén, apreciado
                                por su sabor especiado y textura crujiente.
                            </p>
                        
                        <img src="/Images/falafel.jpg" >

                    </ul>
                   
        </div>


        <!-- Armenios -->


        <div>
                    <h2>֎Barrio armenio: </h2>
                    <img src="/Images/barrio armenio.JPG" alt="barrio armenio">
                    <h3>Costumbres religiosas: </h3>
                    
                            <p>
                                Celebración de la Navidad y la Epifanía: Los armenios celebran la Navidad el 6 de
                                enero, junto con la Epifanía, marcando el bautismo de Jesucristo. Las festividades
                                incluyen ceremonias religiosas, procesiones y reuniones familiares con comidas
                                tradicionales.
                            </p>
                        
                        <img src="/Images/navidad y epifa.jpeg" >

                    <h3>Comidas típicas: </h3>
                   
                            <p>
                                Khorovats (Asado Armenio):  Una comida tradicionalmente preparada en eventos
                                familiares y celebraciones. Consiste en carne de cerdo, cordero o pollo marinada en
                                especias, asada a la parrilla y servida con pan lavash y ensaladas frescas.
                            </p>
                    
                        <img src="/Images/Khorovats.jpg" >
    
                   
                        
                    
        </div>

        <div>
         
                    <!-- Cristianos -->

                    <h2>✝️ Barrio cristiano:</h2>
                    <img src="/Images/BarrioCristianojeru.jpg" alt="barriocristiano"  />
                    <h3>Costumbres religiosas: </h3>
                   
                            <p>
                                Asistencia a la misa: Los cristianos participan en la celebración de la
                                Eucaristía regularmente, donde reciben la comunión y fortalecen su fe. Es un momento de
                                adoración colectiva, enseñanza espiritual y comunión con Dios y la comunidad cristiana.
                            </p>
                       
                        <img src="/Images/misa.jpeg" >
                     

                    <h3>Comidas típicas: </h3>
                   
                            <p>
                                Pescado al horno: Plato común en viernes santos, representa la abstinencia
                                de carne roja. El pescado se sazona con hierbas y se hornea hasta que esté tierno y
                                dorado. Acompañado de guarniciones como papas o vegetales asados.
                            </p>
                       
                        <img src="/Images/pescado.webp" >
                        
                    </ul>
                    
        </div>


        <div>
            
                    <!-- Musulmanes -->

                    <h2>✝️ Barrio Musulmán:</h2>
                    <img src="/Images/BarrioMusulman.jpeg" alt="barriocristiano"  />
                    <h3>Costumbres religiosas: </h3>
                    
                            <p>
                                Oración diaria (Salat): Los musulmanes realizan cinco oraciones obligatorias al
                                día, que representan un acto de adoración y sumisión a Alá. Las oraciones son una
                                conexión espiritual con Dios y un recordatorio constante de su presencia en la vida
                                diaria.
                            </p>
                        <img src="/Images/Mosque.jpg" >
                       

                    <h3>Comidas típicas: </h3>
                   
                            <p>
                                Cuscús: Plato tradicional del norte de África, hecho de sémola de trigo cocida al
                                vapor y mezclado con verduras, carne o pescado. Es aromático y sabroso, a menudo se
                                sirve como plato principal en ocasiones especiales.
                            </p>
                        
                        <img src="/Images/cuscus.jpg" >
                       
                   
        </div>
    </section>
</main>
