 <main class="main-index">
        <h3>Bienvenido a ISTRAVEL</h3>


        <section>
            <div>
                <h1>¿En dónde se encuentra Jerusalem?</h1>
                <p>Jerusalem, también conocida como Jerusalén en español, es una ciudad ubicada en la región montañosa
                    de Judea, entre el mar Mediterráneo y el mar Muerto. Se encuentra en la intersección de Asia
                    occidental y África del Norte, en una posición estratégica que ha sido codiciada y disputada a lo
                    largo de la historia por diversas civilizaciones y culturas.</p>
                <div class="google">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1359437.583138072!2d34.150000998317496!3d31.500200071913516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502d613499a6a25%3A0x8a3b5e1f8ad7a74d!2sIsrael!5e0!3m2!1sen!2sus!4v1623127555473!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
        <section>


            <div>
                <h1>¿Cuál es su historia?</h1>
                <p>Históricamente, Jerusalem ha sido un centro espiritual y político para judíos, cristianos y
                    musulmanes, lo que la convierte en una de las ciudades más sagradas del mundo. Para los judíos, es
                    el lugar donde se encuentra el Templo de Salomón, el cual fue destruido por los babilonios y
                    posteriormente reconstruido, y donde se cree que se ubica el Muro de los Lamentos, uno de los sitios
                    de peregrinación más importantes del judaísmo. Para los cristianos, Jerusalem es el lugar de la
                    crucifixión y la resurrección de Jesucristo, con lugares como la Iglesia del Santo Sepulcro y el
                    Monte de los Olivos que son fundamentales en la narrativa cristiana. Y para los musulmanes, es el
                    sitio del Domo de la Roca y la mezquita de Al-Aqsa, importantes lugares de peregrinación y adoración
                    en el Islam.</p>
                <div>
                    <img src="/Images/historiaBuenacalite.png" width="50%">
                </div>
            </div>
        </section>

        <section>
            <div>
                <h1>¿Por qué deberías venir a Jerusalem?</h1>
                <p>Protegida por los Montes de Judea y bañada en piedra caliza, Jerusalén es una ciudad que despierta la
                    curiosidad de la mente más indiferente. Pocos lugares del mundo pueden presumir de concentrar tal
                    magnitud de arte, historia y tradición en un lugar tan especial como la Ciudad Vieja de Jerusalén,
                    el origen de la Ciudad Santa.</p>
                <p>Esta laberíntica red de calles sin planiﬁcación ninguna desprende una energía y un magnetismo
                    difíciles de explicar. Paseando por la Ciudad Vieja es posible ver iglesias, mezquitas y sinagogas
                    repartidas por los cuatro barrios de Jerusalén. Aquí los ojos del turista se cruzan con la mirada de
                    los apresurados judíos ortodoxos, los alegres musulmanes del zoco y los solemnes peregrinos
                    cristianos.</p>
                <div>
                    <img src="/Images/turistas.png">
                </div>
        </section>



        <section>
            <div class="video-container">
                <h2>Para saber más sobre Jerusalem observá el siguiente video:</h2>
                <iframe class="video" width="560" height="315"
                    src="https://www.youtube.com/embed/xPNDWPOuoeA?si=vws8ryzt2wx2poAG" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
    </main>