    <main class="main-rest">

        <h1>🍽️ Restaurantes mas recomendados: </h1>
        <section>
            <div>
                <h2>¿Mejor lugar para comer falafel?</h2>
                <h3>Restaurante Abu Shukri:</h3>

                <p>
                    Abu Shukri es un pequeño restaurante conocido por su falafel excepcionalmente sabroso y
                    auténtico.
                    Ubicado en el corazón de la Ciudad Vieja, este establecimiento ofrece un ambiente acogedor y
                    familiar
                    donde los comensales pueden disfrutar de platos tradicionales de Oriente Medio, como el
                    falafel
                    servido
                    con pan de pita caliente, ensaladas frescas y salsa tahini.
                </p>
                <img src="/Images/abu.jpeg">
            </div>


            <div>
                <h2>¿Mejor lugar para comer hummus?</h2>


                <h3>Restaurante Lina:</h3>
                <p>
                    Lina Restaurant es famoso por su delicioso hummus, preparado con ingredientes frescos y servido
                    con
                    aceite de oliva y especias aromáticas. Situado cerca del mercado Mahane Yehuda, este restaurante
                    ofrece
                    un ambiente acogedor y relajado, perfecto para disfrutar de platos tradicionales de la cocina
                    palestina,
                    como el hummus, el mutabbal y las ensaladas frescas.
                </p>
                <img src="/Images/lina.jpeg">
            </div>
        </section>
        
        <section>
            <div>
                <h2>¿Mejor lugar para comer shawarma?</h2>

                <h3>Restaurante Moshiko Falafel:</h3>
                <p>
                    Moshiko Falafel es conocido por su shawarma tierno y sabroso, envuelto en pan de pita recién
                    horneado y
                    acompañado de una variedad de salsas y verduras frescas. Este restaurante, situado en el centro
                    de
                    Jerusalén, ofrece un ambiente animado y acogedor, perfecto para disfrutar de auténticos platos
                    de
                    comida
                    callejera de Oriente Medio.
                </p>

                <img src="/Images/moshiko.jpeg">

            </div>

            <div>
                <h2>¿Mejor lugar para comer kebab?</h2>
                <h3>Restaurante Azura:</h3>
                <p>
                    Azura es un restaurante popular entre los amantes de la comida tradicional de Oriente Medio. Su
                    kebab se
                    prepara con carne marinada en especias aromáticas y se cocina a la perfección en una parrilla
                    abierta.
                    Situado en el mercado Mahane Yehuda, este establecimiento ofrece una experiencia culinaria
                    auténtica
                    y
                    deliciosa en un ambiente vibrante y animado.
                </p>



                <img src="/Images/azura.jpeg">

            </div>
        </section>
    </main>