   <main class="main-sitios">
        <h1>📍Sitios turísticos mas recomendados:</h1>
        <section>
            <div>
                <h3>Muro de los lamentos:</h3>
                <p>
                    El Muro de los Lamentos, en Jerusalén, es un sitio sagrado del judaísmo. También conocido como el
                    Kotel, es el único vestigio visible del Segundo Templo judío, destruido en el año 70 d.C. Durante
                    siglos, ha sido un lugar de oración y reflexión para los judíos de todo el mundo. Los fieles acuden
                    para rezar, escribir peticiones en papel y colocarlos entre las grietas del muro como un acto de
                    devoción y conexión espiritual con Dios.
                </p>
                <img src="/Images/muro.jpg" alt="Muro de los Lamentos">
                <p>
                    Conocé mas sobre el lugar en: 
                    <a href="https://www.tripadvisor.com.ar/Attraction_Review-g293983-d318216-Reviews-Western_Wall-Jerusalem_Jerusalem_District.html">
                        <img src="/Images/logotripadv.png" alt="TripAdvisor Logo" class="tripadvisor-logo">
                    </a>
                </p>
            </div>
           
            <div>
                <h3>Torre de David:</h3>
                <p>
                    La Torre de David, ubicada en Jerusalén, es una imponente fortaleza histórica que ha sido testigo de
                    los acontecimientos cruciales de la ciudad a lo largo de los siglos. Originalmente construida como
                    una fortificación en la antigüedad, ha sido reconstruida y modificada por varias civilizaciones. Hoy
                    en día, alberga un museo que narra la fascinante historia de Jerusalén, desde la antigüedad hasta la
                    actualidad, ofreciendo una perspectiva única de esta ciudad sagrada.
                </p>
                <img src="/Images/torre david.jpeg" alt="Torre de David">
                <p>
                    Conocé mas sobre el lugar en: 
                    <a href="https://www.tripadvisor.com.ar/Attraction_Review-g293983-d319071-Reviews-Tower_of_David_Museum_of_the_History_of_Jerusalem-Jerusalem_Jerusalem_District.html">
                        <img src="/Images/logotripadv.png" alt="TripAdvisor Logo" class="tripadvisor-logo">
                    </a>
                </p>
            </div>
        </section>

        <section>
            <div>
                <h3>Monte de los olivos:</h3>
                <p>
                    El Monte de los Olivos, ubicado al este de la Ciudad Vieja de Jerusalén, es una prominente elevación
                    con significado religioso para judíos, cristianos y musulmanes. Ofrece una vista panorámica
                    impresionante de la ciudad antigua y alrededores. Este monte alberga importantes lugares sagrados,
                    como la Capilla de la Ascensión, el Jardín de Getsemaní y el Cementerio Judío más antiguo del mundo,
                    otorgándole una profunda importancia espiritual y cultural en la historia de Jerusalén.
                </p>
                <img src="/Images/monte olivos.jpeg" alt="Monte de los Olivos">
                <p>
                    Conocé mas sobre el lugar en: 
                    <a href="https://www.tripadvisor.com.ar/Attraction_Review-g293983-d318947-Reviews-Monte_das_Oliveiras-Jerusalem_Jerusalem_District.html">
                        <img src="/Images/logotripadv.png" alt="TripAdvisor Logo" class="tripadvisor-logo">
                    </a>
                </p>
            </div>
            <div>
                <h3>Mezquita dorada:</h3>
                <p>
                    La Mezquita Dorada, también conocida como el Domo de la Roca, es un magnífico edificio islámico
                    situado en el Monte del Templo en Jerusalén. Su cúpula dorada resplandece en el horizonte de la
                    ciudad y es un símbolo icónico de Jerusalén. Considerada sagrada por musulmanes, judíos y
                    cristianos, esta estructura histórica alberga la Piedra Fundacional, un lugar de gran importancia
                    religiosa y cultural para diversas tradiciones.
                </p>
                <img src="/Images/mezquita.jpg" alt="Mezquita Dorada">
                <p>
                    Conocé mas sobre el lugar en: 
                    <a href="https://www.tripadvisor.com.ar/Attraction_Review-g293983-d324130-Reviews-Al_Masjid_Al_Aqsa-Jerusalem_Jerusalem_District.html">
                        <img src="/Images/logotripadv.png" alt="TripAdvisor Logo" class="tripadvisor-logo">
                    </a>
                </p>
            </div>
        </section>
    </main>